---
openapi: 3.0.3
info:
  title: User microservice written in Golang
  description: OpenApi Specification for an API to manage User and Group
  contact:
    name: go-cloud-k8s-user-group API Team
    url: https://goeland.io
    email: go-cloud-k8s-user-group@goeland.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.1
servers:
- url: https://api.goeland.io/users
paths:
  /users:
    get:
      summary: UsersList returns a list of users
      description: Returns the user's in an array
      operationId: UsersList
      parameters:
      - name: limit
        in: query
        description: maximum number of results to return
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: get List of users response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserList'
        "401":
          description: Access token is missing or invalid
        default:
          description: unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWTAuth: []
    post:
      summary: UsersCreate will create a new user
      description: Creates a new user
      operationId: UsersCreate
      requestBody:
        description: User to add
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
        required: true
      responses:
        "201":
          description: User creation response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401":
          description: Access token is missing or invalid
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWTAuth: []
  /users/{userId}:
    get:
      summary: UsersGet will retrieve in backend all information about a specific userId
      description: Retrieve a specific user
      operationId: UsersGet
      parameters:
      - name: userId
        in: path
        description: Id of the user
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: get user's successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401":
          description: Access token is missing or invalid
        "404":
          description: get user's response when userId was not found
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWTAuth: []
    put:
      summary: UsersUpdate allows to modify information about a specific userId
      description: Updates the status of a user
      operationId: UsersUpdate
      parameters:
      - name: userId
        in: path
        description: Id of the user
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: status of the user
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        "200":
          description: put user's successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401":
          description: Access token is missing or invalid
        "404":
          description: put user's response when userId was not found
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWTAuth: []
    delete:
      summary: UsersDelete allows to delete a specific userId
      description: delete a user
      operationId: UsersDelete
      parameters:
      - name: userId
        in: path
        description: Id of the user
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "204":
          description: delete user's successful no content
        "401":
          description: Access token is missing or invalid
        "404":
          description: delete user's response when userId was not found
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWTAuth: []
  /users/{userId}/changepassword:
    put:
      summary: UsersChangePassword allows a user to change it's own password
      description: allows a logged in user with a valid JWT to reset is own user password
      operationId: UsersChangePassword
      parameters:
      - name: userId
        in: path
        description: Id of the user
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        description: new password hash for this username (it should match with userId and the JWT userId)
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        "200":
          description: reset user password successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        "401":
          description: Access token is missing or invalid
        "404":
          description: put user's response when userId was not found
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - JWTAuth: []
components:
  schemas:
    NewUser:
      required:
      - email
      - is_admin
      - name
      - password_hash
      - username
      type: object
      properties:
        name:
          minLength: 2
          type: string
        email:
          minLength: 3
          type: string
        username:
          minLength: 2
          type: string
        password_hash:
          minLength: 32
          type: string
        external_id:
          type: string
        enterprise:
          type: string
        phone:
          type: string
        is_admin:
          type: boolean
        comment:
          type: string
    User:
      required:
      - bad_password_count
      - create_time
      - creator
      - email
      - id
      - is_active
      - is_admin
      - is_locked
      - name
      - password_hash
      - username
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          minLength: 2
          type: string
        email:
          minLength: 3
          type: string
          format: email
        username:
          minLength: 2
          type: string
        password_hash:
          minLength: 32
          type: string
        external_id:
          type: string
        enterprise:
          type: string
        phone:
          type: string
        is_locked:
          type: boolean
        is_admin:
          type: boolean
        create_time:
          type: string
          format: date-time
        creator:
          type: integer
          format: int32
        last_modification_time:
          type: string
          format: date-time
        last_modification_user:
          type: integer
          format: int32
        is_active:
          type: boolean
        inactivation_time:
          type: string
          format: date-time
        inactivation_reason:
          type: string
        comment:
          type: string
        bad_password_count:
          type: integer
          format: int32
    UserLogin:
      required:
      - password_hash
      - username
      type: object
      properties:
        username:
          minLength: 2
          type: string
        password_hash:
          minLength: 32
          type: string
    UserList:
      required:
      - create_time
      - creator
      - email
      - id
      - is_admin
      - is_locked
      - name
      - username
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          minLength: 2
          type: string
        email:
          minLength: 3
          type: string
          format: email
        username:
          minLength: 2
          type: string
        is_locked:
          type: boolean
        is_admin:
          type: boolean
        creator:
          type: integer
          format: int32
        create_time:
          type: string
          format: date-time
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    JsonWebToken:
      required:
      - token
      type: object
      properties:
        token:
          type: string
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  securitySchemes:
    JWTAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
